/*** global ***/
nav a.nav-link {
    border-radius: 5px;
}

nav a.nav-link:hover {
    background-color: #db2017;
    border-radius: 5px;
    color: white;
}

nav .dropdown-item:hover {
    background-color: #EE6059;
    color: white;
}

nav .dropdown-item:active {
    background-color: #db2017;
    color: white;
}

body {
    text-align: justify;
    padding-top: 100px;
    hyphens: auto;
}

@media (max-width : 441px) {
    body {
        padding-top: 130px;
    }
}

/*** global end ***/

/*** calendar ***/
#years-table .btn-light:focus,
#years-table .btn-light.focus {
    background: #363636;
    color: #f8f9fa;
}

.yearbtn {
    margin-bottom: 4px;
}
/*** calendar end ***/
