/*** global ***/
/* navbar anfang */
nav a.nav-link {
    border-radius: 5px;
    margin-right: .25rem;
    border: 1px solid transparent;
}

.nav-link.sec {
    background-color: #ffe485;
}

.nav-link.pri {
    background-color: #db2017;
    color: white;
}

nav a.nav-link:hover {
    border: black 1px solid;
}

nav .dropdown-item:hover {
    background-color: #FFEDAD;
}
/* navbar ende */

body {
    text-align: justify;
    padding-top: 100px;
    hyphens: auto;
}

@media (max-width : 441px) {
    body {
        padding-top: 130px;
    }
}

/*** global end ***/

/*** calendar ***/
#years-table .btn-light:focus,
#years-table .btn-light.focus {
    background: #363636;
    color: #f8f9fa;
}

.yearbtn {
    margin-bottom: 4px;
}
/*** calendar end ***/
