/*** global ***/
nav .dropdown-item:active,
nav .dropdown-item.active {
    background-color: #474747;
    color: #EBEBEB;
}

body {
    text-align: justify;
    padding-top: 100px;
    hyphens: auto;
}

@media (max-width: 441px) {
    body {
        padding-top: 130px;
    }
}

/*** global end ***/

/*** calendar ***/
#years-table .btn-light:focus,
#years-table .btn-light.focus {
    background: #363636;
    color: #f8f9fa;
}

.yearbtn {
    margin-bottom: 4px;
}
/*** calendar end ***/
